body {
    background-color: #1c2e47;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#messages{
    padding-bottom: 30%;
}

h2
{
    color: white;
}
li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #6eb9b2;
    padding: 5px;
    border-radius: 10px;
    color: white;
    width: 50%;
}

li span {
    font-style: italic;
    font-weight: bolder;
    color: #8923dd;
}

#chat {
    width: 80%;
    margin: auto;
}

#message-form {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d7d0df;
}

input {
    width: 70%;
    height: 30px;
}

button {
    width: 25%;
    height: 38px;
}

.sent {
    text-align: right;
    background-color: #de540f;
    margin-left: 50%;
}

.sent span {
    margin-left: 5px;
    color: #010c13;
}